.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  min-height: 35rem;
}
.game-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  background: #fff;
  border-radius: 0.125rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  height: 25rem;
  width: 40rem;
  margin: 1rem;
  position: relative;
  border-radius: 1rem;
  box-shadow: 0.1875rem 0.625rem 2.875rem 0rem rgba(173, 173, 173, 1);
}

.glow {
  border: 0.125rem solid #dadada;
  border-color: #9ecaed;
  box-shadow: 0 0 2.875rem #9ecaed;
}

.card-container {
  display: flex;
  flex-direction: column;
}

.title {
  color: #7b39ca;
  font-size: 4rem;
}

.counter {
  font-size: 2rem;
}
.counter-container {
  margin-bottom: 2rem;
  min-height: 2.5rem;
}

.logo {
  animation: logo-spin infinite 50s linear;
  height: 40rem;
  width: 40rem;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(360deg) scale(20);
  }
}

.start-game-button {
  background-color: #7b39ca;
  border: none;
  color: white;
  padding: 1rem 2rem;
  width: 10rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-size: 1rem;
  cursor: pointer;
}

.game-over {
  position: absolute;
  left: 40%;
  top: 50%;
}

.game-over-container {
  position: relative;
  bottom: 10rem;
}
