.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  min-height: 35rem;
}
.game-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  background: #fff;
  border-radius: 0.125rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  height: 25rem;
  width: 40rem;
  margin: 1rem;
  position: relative;
  border-radius: 1rem;
  box-shadow: 0.1875rem 0.625rem 2.875rem 0rem rgba(173, 173, 173, 1);
}

.glow {
  border: 0.125rem solid #67bbff;
  border-color: #9ecaed;
  box-shadow: 0 0 2.875rem #67bbff;
}

.card-container {
  display: flex;
  flex-direction: column;
}

.title {
  color: #886ce4;
  font-size: 4rem;
}

.counter {
  font-size: 2rem;
}
.counter-container {
  margin-bottom: 2rem;
  min-height: 2.5rem;
}

.logo {
  animation: logo-spin infinite 50s linear;
  height: 40rem;
  width: 40rem;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(360deg) scale(20);
  }
}

.start-game-button {
  background-color: #886ce4;
  border: none;
  color: white;
  padding: 1rem 2rem;
  width: 10rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-size: 1rem;
  cursor: pointer;
}

.game-over {
  position: absolute;
  top: 40%;
  bottom: 0;
  left: 0;
  right: 0;
}

.score {
  color: #00bcf2;
}

.result {
  color: #ffc83d;
  font-size: 5rem;
  font-family: sans-serif;
  letter-spacing: 0.25rem;
  font-weight: bold;
}
.welcome {
  display: block;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.spinner {
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
